body {
  background-color: #116466;
}

.team-heading,
.employee-card {
  background-color: #2c3531;
  color: #d1e8e2;
}

.team-heading {
  text-shadow: 4px 4px #116466;
}

.employee-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  background-color: #d9b08c;
}

.list-group-item {
  background-color: #ffcb9a;
  color: #2c3531;
}
